---
title: Default layout
slug: default
position: 99
listed: false
published: true
is_layout: false
---
!!!
%html{lang: "en", "ng-app" => "hardwicke"}
  {% include head %}
  %body
    {% block content %}
    {% endblock %}

